<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/resest.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/e1f46eb10910bdf7f806b9f514d5edc8.jpg">
</head>
<body>
   {{>header}}
     <div class="main-content">
       <img src="/img/2aee2636152d707e5de00f5204ab85fd.gif" alt="">
       <p>My name is {{name}}</p>
     </div>
       {{>footer}}
</body>
</html>