<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="icon" href="/img/e1f46eb10910bdf7f806b9f514d5edc8.jpg">
    <link rel="stylesheet" href="/css/resest.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    {{>header}}
    <div class="main-content">
      <h1>WELCOME TO MY HOME PAGE!</h1>
            <p>{{title}}</p>
            <form action="">
                <div class="input-group">
                    <input type="text" placeholder="Enter location" id="txtlocation">
                    <button id = "btnSearch">Search</button>
                </div>
            </form>
            <div class="information">
                
            </div>
    </div>
     {{>footer}}
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/main.js"></script>

</html>